In [14]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

In [15]:
train = pd.read_csv("../tidy_data/train.csv", index_col = 0)
test = pd.read_csv("../tidy_data/test.csv", index_col = 0)

C:\Users\axel\Anaconda3\lib\site-packages\numpy\lib\arraysetops.py:463: FutureWarning: elementwise comparison failed; returning scalar instead, but in the future will perform elementwise comparison
  mask |= (ar1 == a)

# From tidy data to clean data - train and validation

In [16]:
train.went_on_backorder.value_counts()

0    1521323
1      10396
Name: went_on_backorder, dtype: int64

In [17]:
train.isnull().mean()

national_inv         0.000000
lead_time            0.059976
in_transit_qty       0.000000
min_bank             0.000000
potential_issue      0.000000
pieces_past_due      0.000000
local_bo_qty         0.000000
deck_risk            0.000000
oe_constraint        0.000000
ppap_risk            0.000000
stop_auto_buy        0.000000
rev_stop             0.000000
forecast_3_month     0.000000
forecast_6_month     0.042786
forecast_9_month     0.064662
perf_12_month_avg    0.044718
perf_6_month_avg     0.033780
sales_1_month        0.004986
sales_3_month        0.042786
sales_6_month        0.054690
sales_9_month        0.009972
went_on_backorder    0.000000
dtype: float64

In [18]:
train.describe()

,national_inv,lead_time,in_transit_qty,min_bank,potential_issue,pieces_past_due,local_bo_qty,deck_risk,oe_constraint,ppap_risk,...,forecast_3_month,forecast_6_month,forecast_9_month,perf_12_month_avg,perf_6_month_avg,sales_1_month,sales_3_month,sales_6_month,sales_9_month,went_on_backorder
count,1.531719e+06,1.439852e+06,1.531719e+06,1.531719e+06,1.531719e+06,1.531719e+06,1.531719e+06,1.531719e+06,1.531719e+06,1.531719e+06,...,1.531719e+06,1.466183e+06,1.432675e+06,1.463223e+06,1.479977e+06,1.524082e+06,1.466183e+06,1.447949e+06,1.516445e+06,1.531719e+06
mean,5.019623e+02,7.877446e+00,4.331803e+01,5.302931e+01,5.157604e-04,2.031273e+00,6.386348e-01,2.256876e-01,1.553810e-04,1.204980e-01,...,1.786599e+02,3.475876e+02,5.071983e+02,-6.456384e+00,-6.901722e+00,5.579320e+01,1.744999e+02,3.426361e+02,5.238428e+02,6.787146e-03
std,3.085772e+04,7.047404e+00,1.359490e+03,1.329703e+03,2.270451e-02,2.342047e+02,3.393928e+01,4.180345e-01,1.246423e-02,3.255430e-01,...,5.291142e+03,1.027504e+04,1.481504e+04,2.587365e+01,2.660285e+01,1.980100e+03,5.265509e+03,9.826218e+03,1.491968e+04,8.210411e-02
min,-2.725600e+04,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,...,0.000000e+00,0.000000e+00,0.000000e+00,-9.900000e+01,-9.900000e+01,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00
25%,4.000000e+00,4.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,...,0.000000e+00,0.000000e+00,0.000000e+00,6.600000e-01,6.300000e-01,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00
50%,1.500000e+01,8.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,...,0.000000e+00,0.000000e+00,0.000000e+00,8.100000e-01,8.200000e-01,0.000000e+00,1.000000e+00,2.000000e+00,4.000000e+00,0.000000e+00
75%,8.000000e+01,9.000000e+00,0.000000e+00,3.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,...,4.000000e+00,1.200000e+01,2.000000e+01,9.500000e-01,9.600000e-01,4.000000e+00,1.500000e+01,3.100000e+01,4.600000e+01,0.000000e+00
max,1.233440e+07,5.200000e+01,4.894080e+05,3.133190e+05,1.000000e+00,1.464960e+05,1.002400e+04,1.000000e+00,1.000000e+00,1.000000e+00,...,1.510592e+06,2.461360e+06,3.777304e+06,1.000000e+00,1.000000e+00,7.417740e+05,1.104181e+06,2.146625e+06,3.201035e+06,1.000000e+00

The data, although tidy, has three problems: 
1. It is strongly unbalanced 150/1
2. Some NaNs
3. The values are not standardized (this will be taken care of in the sklearn pipelines)

This is my proposed solution for the train set: 
1. Split into a stratified train and test
2. Impute with the median separetely
3. Reduce the most common class by a factor of 30 
4. Oversample the least common class by a factor of 5

In [19]:
# Step 1. Split into a stratified train and test
from sklearn.model_selection import train_test_split
X = train.drop("went_on_backorder", 1)
y = train["went_on_backorder"]

X_train, X_val, y_train, y_val = train_test_split(X, y, test_size = .3, 
                                                  stratify = y, random_state=42)
y_train.value_counts()

0    1064926
1       7277
Name: went_on_backorder, dtype: int64

In [20]:
# Step 2. Impute with the median separetely
X_train = X_train.apply(lambda x: x.fillna(x.median()))
X_val = X_val.apply(lambda x: x.fillna(x.median()))

In [21]:
# Step 3. Reduce the most common class by a factor of 30  (only on train)
tmp = pd.concat([X_train, y_train], axis=1)

tr1 = tmp[tmp["went_on_backorder"] == 1]
tr2 = tmp[tmp["went_on_backorder"] == 0].sample(frac=0.33, random_state=42)

reduced = pd.concat([tr1, tr2], axis=0)

X_train_under = reduced.drop("went_on_backorder", 1)
y_train_under = reduced["went_on_backorder"]

y_train_under.value_counts()

0    351426
1      7277
Name: went_on_backorder, dtype: int64

In [22]:
# Step 4. Oversample the least common class by a factor of 5
from imblearn.over_sampling import SMOTE 

sm = SMOTE(random_state=42)
X_train_under_over, y_train_under_over = sm.fit_sample(X_train_under, y_train_under)

X_train_under_over = pd.DataFrame(X_train_under_over, columns=X_train.columns)
y_train_under_over = pd.Series(y_train_under_over, name="went_on_back_order")

y_train_under_over.value_counts()

1    351426
0    351426
Name: went_on_back_order, dtype: int64

In [28]:
X_train.shape

(1072203, 21)

In [29]:
y_train.shape

(1072203,)

We reached a balanced training dataset with no more `NaNs`.

# From tidy data to clean data - test

In [23]:
test.isnull().sum()

national_inv           0
lead_time            280
in_transit_qty         0
min_bank               0
potential_issue        0
pieces_past_due        0
local_bo_qty           0
deck_risk              0
oe_constraint          0
ppap_risk              0
stop_auto_buy          0
rev_stop               0
forecast_3_month       0
forecast_6_month       0
forecast_9_month       0
perf_12_month_avg      0
perf_6_month_avg       0
sales_1_month          0
sales_3_month          0
sales_6_month          0
sales_9_month          0
dtype: int64

In [24]:
test.lead_time.describe()

count    4720.000000
mean        7.712076
std         6.547360
min         0.000000
25%         4.000000
50%         8.000000
75%         9.000000
max        52.000000
Name: lead_time, dtype: float64

We can see that `lead_time` has 5% missing values. Also from the `describe()` function, we can see a min value of 0 and a max value of 52. Given those outliers, I chose to impute the missing values with the median rather than the mean.

In [25]:
test["lead_time"] = test["lead_time"].fillna(test["lead_time"].median())

# Export the clean dataset

In [26]:
X_train.to_csv("../clean_data/X_train.csv")
X_val.to_csv("../clean_data/X_val.csv")

y_train.to_csv("../clean_data/y_train.csv")
y_val.to_csv("../clean_data/y_val.csv")

test.to_csv("../clean_data/test.csv")